
<section id="contact" style="padding-top: 100px;">
  
  <div  class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next project with us? That's great! Just fill in this form
          and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <app-spinner *ngIf="waiting"></app-spinner>
    <div *ngIf="!waiting" class="row">
      <div class="get-in-touch col-lg-9 col-md-10">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
          <div formGroupName="userData" class="row">
            <div class="form-field col-12 col-md-6">
              <input id="name" formControlName="nome" class="input-text js-input" type="text">
              <label class="label" for="name">Name</label>
            </div>
            <div class="form-field col-12 col-md-6">
              <input formControlName="email" id="email" name="email" class="input-text js-input" type="email" required>
              <label class="label" for="email">E-mail</label>
            </div>
          </div>
          <div class="row">
            <div class="form-field col-12 col-md-6">
              <input id="phone" formControlName="phone" class="input-text js-input" type="number" >
              <label class="label" for="phone">Phone (optional)</label>
            </div>
            <div class="form-field col">
              <input id="subject" formControlName="subject" class="input-text js-input" type="text" required>
              <label class="label" for="subject">Subject</label>
            </div>
          </div>
          <div class="row">
            <div class="form-field col ">
              <small class="float-right">{{contactForm.get('message').value?.length}}/500</small>
              <textarea maxlength="500" formControlName="message" id="message" rows="2" class="input-text js-input"
                type="text" required style="height:60px"></textarea>
              <label class="label" for="message">Message</label>
            </div>
          </div>
          <div class="row">
            <div class="form-field col-12 text-center">
              <button class="submit-btn" type="submit">Submit</button>
              <br> <br>
              <span class="alert alert-danger text-center"
                *ngIf="contactForm.get('userData.email').touched && contactForm.get('userData.email').invalid">Your
                email is invalid!</span>

            </div>
          </div>
          <alert *ngIf="sucess" type="success">
            <strong>Congratulations!</strong> Your message was sucessfully sent! 😎
          </alert>
          <alert *ngIf="error" type="danger">
            <strong>Oh snap!</strong> There was an error with your message... 🤕
          </alert>
        </form>
      </div>
    </div>
  </div>
</section>