<section id="section-frame">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our goal is to create the best solutions for our clients.</h2>
        <hr class="my-4">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
          <div class="content" style="">
            <!-- <app-iframe style="width:100%;border:none;height:100%"></app-iframe> -->
            <!-- <iframe src="./index-iframe.html" style="width:100%;border:none;height:100%"></iframe> -->
            <img src="../../../assets/imgs/mockups/mock.jpg" class="mock" />
          </div>
      </div>
    </div>
  </div>
</section>