/* Timeline CSS begins below */ 
/* Ideally I need to learn how all the below works - practice makes perfect.
Goal is to be able to produce a similar result without consulting external sources, e.g. using just own memory to produce content. This will then be utilised in the NFP project I am working on */

/* Removes bulletpoints; aligns items in centre */
#process{
    // border-top: 3px solid #005bd2;
    // background-image: linear-gradient(to right, #005bd2 , white)!important;  
    background-color: #005bd2 !important;
    background-image: linear-gradient(to bottom, #005bd2,#3c3837);
}
.section-heading{
  color:white;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    margin-top: 50px;
    position: relative;
  }
  /* Creates vertical line in middle */
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  /* This seems to align the glyph icons down the middle to an extent. */
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  /* I'm genuinely unsure on what this does! */
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  /* Unsure on this also */
  .timeline > li:after {
    clear: both;
  }
  /* Also unsure! So confusing */
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  /* Also unsure on this malarki */
  .timeline > li:after {
    clear: both;
  }
  
  /* This produces the actual box around each item */
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    font-weight: 400;
    font-family: "Open Sans";
    border-radius: 5px; 
    h5{
      font-size: 1.2rem;
    }
    p{
      color: #666;
      font-size: 16px;
      text-align: justify;
      line-height: 30px;
    }
    @media screen and (max-width: 500px) {
      h5{
        font-size: 0.8rem;
      }
      p{
        font-size: 0.8rem;
        text-align: left
      }
    }
   
  }
  /* Below section adds depth to triangle pointer */
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  /* Below section adds white triangle point to edge of timeline panels. */
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  /* This particular section of CSS is of note - Appears to centre the glyph icon in the middle of timeline with background */
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #005bd2;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  /* Below code 'inverts' or floats the panel to the right. */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  /* Below code enables the arrow pointing to the timeline itself. */
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  /* This is the highlight on the arrow */
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  /* Rest of the CSS is rather self explanatory - Just stylings and et cetera whereas above is more layout oriented. */
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.white {
    background-color: white !important;
   border: 1px solid #005bd2;
    fa{
       color: #005bd2; 
    }
    
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  /* Removes gap above timeline title */
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }
  
  /* Timeline CSS ends here */