<section id="process">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">This is how we do it!</h2>
        <hr class="my-4">
      </div>
    </div>
    <br>
    <div class="row">

<!-- When using bootstrap all body items are kept in a container, one large div where everything sits. -->
<div class="container">
    <!-- Sep div for header -->
    <!-- Timeline is a styled unordered list -->
    <ul class="timeline">
      <!-- Each entry is a list item -->
      <li #needs [@element]="stateNeeds">
        <!-- Div for centre badge in middle of timeline -->
        <div class="timeline-badge"><i class="fa fa-comments"></i></div>
        <!-- Div for the actual 'box' the timeline entry sits in -->
        <div class="timeline-panel">
          <!-- Styling for the heading of said timeline and title. -->
          <div class="timeline-heading">
            <h5 class="timeline-title"><b>Understand your needs</b></h5>

          </div>
          <!-- Title div ended; Body div begins for content on the timeline panel. -->
          <div  class="timeline-body">
              <p> Before embracing a new project, we need to be aware about what you want</p>
          </div>
          <!-- Closing off the redundant divs -->
        </div>
      </li>
      <!-- Close list entry! Repeating the same but using inverted styles -->
      <li #proposal [@element]="stateProposal" class="timeline-inverted">
        <div class="timeline-badge white"><fa name="envelope"></fa></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><b>We send you our proposal</b></h5>
          </div>
          <div  class="timeline-body">
            <p>We will take a look in your project's goals. Therefore, we can purpose you an architecture that meet your needs</p>
          </div>
        </div>
      </li>
      <!-- And don't forget to close off your redundant divs! -->
      <li #code [@element]="stateCode">
        <div class="timeline-badge"><fa name="code"></fa></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><b>Code your idea</b></h5>
          </div>
          <div  class="timeline-body">
            <p>Now it's time to develop your idea! We will use the most recent technologies to do so!</p>
          </div>
        </div>
      </li>
      <li #launch [@element]="stateLaunch" class="timeline-inverted">
        <div class="timeline-badge white"><fa name="rocket"></fa></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><b>Launch and Support</b></h5>
          </div>
          <div  class="timeline-body">
            <p>We will launch your idea! We can also provide you hosting and keep giving support to your app!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <!-- HTML has been checked, need to practice creating new timeline panels from scratch without consulting code. Analysis of CSS styles to begin next in order to ascertain how the items are placed. -->

    </div>
  </div>
</section>

