<header class="masthead text-center text-white d-flex resize-header">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>We bring your ideas to life!!</strong>
        </h1>
        <hr style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">We've got what you need!! We only use disruptive technologies to create the best
          digital products!</p>
        <a pageScroll 
          angulartics2On="click" 
          angularticsAction="Contact"
          class="btn btn-primary btn-xl js-scroll-trigger" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);"
          href="#contact">Let's do it!</a>
      </div>
    </div>
  </div>
</header>