footer.footer {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
.footer{
    a{
      color: #6c757d!important
    }
  margin-top: 50px;
  border-top: 1px solid #e4e4e4;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f3f2f2
}
