<footer class="footer ">
  <div class="container">
    <div class="row text text-center ">
      <p class="text-muted small mx-auto">This Website was developed with Angular
      </p>
    </div>
    <div class="mt-3 row text text-center">
      <p class="text-muted small mx-auto">&copy; <a href="https://closerdev.com">CloserDev</a> 2020. All Rights Reserved.
      </p>
    </div> 
  </div>

</footer>