$bg: #d8cbb8;
$bg_dark: #d3c79d;
$bg_darker: #bead81;
$fg: #817a70;
$base: #bf6654;
$accent: #3d7299;

$strength: 25;

header {
  display: flex;
  width: 95%;
  height: 70vh;
  margin: auto;
  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
}

a {
  position: relative;
  margin: 0 auto;
  background: #a59d9d59;
  color: #a59d9d59;//#005bd2
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vw; // The lazy human's approach to text-scaling.
}

h2 {
  position: relative;
  margin: 0 auto;
  font-weight: 600;
  color: rgba(255,255,255,.7);
  text-transform: uppercase;
  font-size: 2vw; // The lazy human's approach to text-scaling.
  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

a:before {
  content: "";
  height: .3vw; // Might as well keep it going.
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: -.1vw; // Sorry, old browsers...
  transition: 500ms all ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

.landing {
  display: flex;
  transition: 500ms all ease-in-out;
  z-index: 1;
  height: 100%;
  align-content: center;
  align-items: center;
}

.landing:hover > a:before {
  width: 100%;
  background-color: #005bd2;
  opacity: 1;
}

.landing__left {
  flex-basis: 50%;
  background: url('../../../assets/imgs/closerOffice.png') center center no-repeat;
  background-size: cover;
  box-shadow: 0 50vw 0 50vw rgba(0, 0, 0, 0);
  @media only screen and (max-width: 768px) {
    flex-basis:50%;
    margin-top: 20px;
  }
  @media only screen and (max-width: 700px) {
    flex-basis: 36%;
    margin-top: 20px;
  }
}

.landing__left:hover {
  flex-basis: 150%;
  background: url('../../../assets/imgs/closerOffice.png') cover cover no-repeat, saturate($base, $strength);
  box-shadow: 0 50vw 0 50vw rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  z-index: 500;
}

.landing__right {
  flex-basis: 50%;
  background: url('../../../assets/imgs/mlineSIte.png') center center no-repeat;
  background-size: cover;
  box-shadow: 0 -50vw 0 50vw rgba(0, 0, 0, 0);
  @media only screen and (max-width: 768px) {
    flex-basis:50%;
    margin-top: 20px;
  }
  @media only screen and (max-width: 700px) {
    flex-basis: 36%;
    margin-top: 20px;
  }
}

.landing__right:hover {
  flex-basis: 150%;
  background: url('../../../assets/imgs/mlineSIte.png') cover cover no-repeat, saturate($accent, $strength);
  box-shadow: 0 -50vw 0 50vw rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  z-index: 500;
}
