<section class="bg-primary my" id="about">
  <!-- <div class="container">
    <div class="row">
      <div [@title]="state" class="col-lg-9 mx-auto text-center">
        <h2 class="section-heading text-white">We would love to know what is your idea! </h2>
        <hr class="my-4" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
        <p class="text-faded mb-4">We are a team of developers seeking for brilliant ideas! </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);"
          href="#contact">Get Started!</a>
      </div>
    </div>
    <div class="row" style="margin-top:50px">
      <div class="col-lg-4 offset-md-2 mx-auto text-center" style="margin-top:20px">
        <div [@cardNuno]="state" id="nunoCard" class=" card card-manual mx-auto hidden-right" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
          <div class="card-img-top img-fluid imageNuno" style="border-radius: .25rem;">
          <img src="../../../assets/imgs/fotoperfil-nuno.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title">Nuno Carvalhão</h4>
            <hr>
            <p class="card-text">Masters in Electrotechnical and Computers Engineering</p>
            <p class="card-text">Full-Stack Developer and Teacher at UpAcademy (Full Stack Academy)</p>
            <div class="btn-group">

              <a href="https://www.linkedin.com/in/nuno-carvalh%C3%A3o-4a42bb132/" rel="nofollow">
                <fa name="linkedin" style="margin-right: 10px;color: #005bd2" size="2x"></fa>
              </a>
              <fa name="google" style="margin-right: 10px;color: #005bd2" size="2x"></fa>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mx-auto text-center" style="margin-top:20px">
        <div [@cardManuel]="state" id="manelCard" class="card card-manual mx-auto" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
          <div class="card-img-top img-fluid imageManuel" style="border-radius: .25rem;">
          <img src="../../../assets/imgs/fotoperfil-corte.jpg" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title">Manuel Faustino</h4>
            <hr>
            <p class="card-text">Masters in Electrotechnical and Computers Engineering</p>
            <p class="card-text">Frontend and Mobile Developer</p>
            <div class="btn-group margin" style="margin-top:45px;">

              <a href="https://www.linkedin.com/in/manuel-faustino-17899b100/" rel="nofollow">
                <fa name="linkedin" style="margin-right: 10px;color: #005bd2" size="2x"></fa>
              </a>
              <a href="#" >
                  <fa name="google" style="margin-right: 10px;color: #005bd2" size="2x"></fa>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row w-100">
      <div [@title]="state" class="col-lg-9 mx-auto text-center">
          <h2 class="section-heading text-white">Take a look at our projects! </h2>
          <hr class="my-4" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
      </div>
  </div>
  <div class="row mt-5">
    <header>
      <div class="landing landing__left">
        <a target="_blank" href="https://closer-office.com/"><h2>Closer Office</h2></a>
      </div>
      <div class="landing landing__right">
        <a target="_blank" href="https://www.mline.pt/"> <h2>Mline landing page</h2></a>
      </div>
    </header>
  </div>

</section>
