/* ---- */
#message{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%)!important;
}


.spinner {
    width: 80px;
    height: 80px;
    background-color: #005bd2;
    
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }

    50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg) ;
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  .spinner-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }