

.description{
    font-weight: 400;
    font-family: "Open Sans";
    color: #666;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
    margin-top:30px;
}
#services{
    min-height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

img { 
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

h3 {
    color:#005bd2;
    font-size: 1.72rem;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

    .card {
        -webkit-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        -moz-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        margin-left: 30px; 
        width:90%;
    }

    .image-container {
        height: 200px;
    }
    
    .image-container1 {
        height: 170px;
    }

    .card-esquerda{
        transform: rotate(15deg);
    }
    
    .card-meio{
        margin-top: 50px;
    }
    
    .card-direita{
        transform: rotate(-15deg);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

    .card {
        -webkit-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        -moz-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        margin-left: 30px; 
        width:90%;
    }

    .image-container {
        height: 220px;
    }
    
    .image-container1 {
       height: 190px;
    }

    .card-esquerda{
        transform: rotate(15deg);
    }
    
    .card-meio{
        margin-top: 50px;
    }
    
    .card-direita{
        transform: rotate(-15deg);
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

    .card {
        -webkit-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        -moz-box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        box-shadow: -8px 10px 5px 0px rgba(102,98,102,0.78);
        margin-left: 30px; 
        width:90%;
    }

    .image-container {
        height: 300px;
    }
    
    .image-container1 {
        height: 270px;
    }

    .card-esquerda{
        transform: rotate(15deg);
    }
    
    .card-meio{
        margin-top: 50px;
    }
    
    .card-direita{
        transform: rotate(-15deg);
    }
}