<section class="gradient" id="services">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-black">We provide wide range of web & business services.</h2>
        <hr class="my-4" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
      </div>
    </div>
    <br>
    <div class="row" style="margin-top:50px">
      <div class="col-md-4" style="text-align:center">
        <div class="image-container">
          <div class="card card-esquerda">
            <img src="../../../assets/imgs/mobile-min.jpeg" alt="Cinque Terre" width="90%" height="300">
          </div>
        </div>
        <br>
        <p></p>
        <h3>Web & Mobile Apps development</h3>
        <p class="description text-justify">Taking advantage of the latest
          cross-platform technologies, we can transform your ideas
          into Web applications, as well as mobile applications for both IOS and Android.</p>
      </div>
      <div class="col-md-4" style="text-align:center">
        <div class="image-container1">
          <div class="card card-meio">
            <img src="../../../assets/imgs/server-min.jpeg" alt="Cinque Terre" width="90%" height="100px">
          </div>
        </div>
        <br>
        <h3>Server hosting & support</h3>
        <p class="description text-justify">We can provide and maintain the
          servers you need to keep your application running
          smoothly. Our main goal is to built robust and scalable solutions!</p>
      </div>
      <div class="col-md-4" style="text-align:center">
          <div class="image-container">
              <div class="card card-direita">
                <img src="./../../assets/imgs/pexels-photo-1068523-min.jpeg" alt="Cinque Terre" width="90%">
              </div>
          </div>
          <br>
          <p></p>
        <h3>Microservices Architecture</h3>
        <p class="description text-justify">With our knowledge of DevOps, our
          solutions follow an architectural style that
          structures an application as a collection of small services. Each one running on its own container which makes
          these services easily sustainable and scalable.</p>
      </div>
    </div>
  </div>
</section>