<div [ngStyle]="{'display': loadingService.loading?'none':'block'}">
    <app-navbar [onViewComponent]="onViewComponent"></app-navbar>
    <app-header #header></app-header>
    <app-profile-section #about></app-profile-section>
    <app-frame-section></app-frame-section>
    <app-process-section #process></app-process-section>
    <app-services-section #services></app-services-section>
    <app-technologies-section #tech></app-technologies-section>
    <app-contact-section #contact></app-contact-section>
    <app-footer></app-footer>
</div>