<nav style="max-width:100vw" [ngClass]="{'navbar-shrink': shrink}" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a pageScroll class="navbar-brand js-scroll-trigger" href="#page-top">CloserDev</a>
    <button (click)="show=!show" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="show=false" 
          pageScroll 
          angulartics2On="click" 
          angularticsAction="About"
          [ngClass]="{'selected': onViewComponent=='about'}" 
          class="nav-link js-scroll-trigger"
           href="#about">About</a>
        </li>
        <li class="nav-item">
            <a (click)="show=false" 
            pageScroll 
            angulartics2On="click" 
            angularticsAction="process"
            [ngClass]="{'selected': onViewComponent=='process'}" 
            class="nav-link js-scroll-trigger"
             href="#process">Process</a>
          </li>
        <li class="nav-item">
          <a (click)="show=false" 
          angulartics2On="click" 
          angularticsAction="Services"
          pageScroll class="nav-link js-scroll-trigger"
           [ngClass]="{'selected': onViewComponent=='services'}" 
           href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a (click)="show=false" 
          angulartics2On="click" 
          angularticsAction="Technologies"
          pageScroll class="nav-link js-scroll-trigger" 
          [ngClass]="{'selected': onViewComponent=='tech'}" 
          href="#technologies">Technologies</a>
        </li>
        <li class="nav-item">
          <a (click)="show=false" 
          angulartics2On="click" 
          angularticsAction="Contact"
          pageScroll class="nav-link js-scroll-trigger" 
          [ngClass]="{'selected': onViewComponent=='contact'}" 
          href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
