#technologies {
    min-height: 100vh;
}

.img-tech {
    width: 100px;
    display: block;
    padding: 10px;
    box-sizing: border-box;

    text-align: center;
    border-radius: 50%;
}

.circle {
    z-index: 2
}

.textBox {
    padding-left: 100px;
    z-index: 1;
}

.circle-container {
    position: relative;
    width: 25em;
    margin: auto;
    height: 25em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    //margin: 0;
    border: solid 2px #70D6FE;

    >* {

        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2.7em;

        &:nth-of-type(1) {
            -moz-transform: rotate(0deg) translate(12.5em) rotate(-0deg);
            -ms-transform: rotate(0deg) translate(12.5em) rotate(-0deg);
            -webkit-transform: rotate(0deg) translate(12.5em) rotate(-0deg);
            transform: rotate(0deg) translate(12.5em) rotate(-0deg);
        }

        &:nth-of-type(2) {
            -moz-transform: rotate(45deg) translate(12.5em) rotate(-45deg);
            -ms-transform: rotate(45deg) translate(12.5em) rotate(-45deg);
            -webkit-transform: rotate(45deg) translate(12.5em) rotate(-45deg);
            transform: rotate(45deg) translate(12.5em) rotate(-45deg);
        }

        &:nth-of-type(3) {
            -moz-transform: rotate(90deg) translate(12.5em) rotate(-90deg);
            -ms-transform: rotate(90deg) translate(12.5em) rotate(-90deg);
            -webkit-transform: rotate(90deg) translate(12.5em) rotate(-90deg);
            transform: rotate(90deg) translate(12.5em) rotate(-90deg);
        }

        &:nth-of-type(4) {
            -moz-transform: rotate(135deg) translate(12.5em) rotate(-135deg);
            -ms-transform: rotate(135deg) translate(12.5em) rotate(-135deg);
            -webkit-transform: rotate(135deg) translate(12.5em) rotate(-135deg);
            transform: rotate(135deg) translate(12.5em) rotate(-135deg);
        }

        &:nth-of-type(5) {
            -moz-transform: rotate(180deg) translate(12.5em) rotate(-180deg);
            -ms-transform: rotate(180deg) translate(12.5em) rotate(-180deg);
            -webkit-transform: rotate(180deg) translate(12.5em) rotate(-180deg);
            transform: rotate(180deg) translate(12.5em) rotate(-180deg);
        }

        &:nth-of-type(6) {
            -moz-transform: rotate(225deg) translate(12.5em) rotate(-225deg);
            -ms-transform: rotate(225deg) translate(12.5em) rotate(-225deg);
            -webkit-transform: rotate(225deg) translate(12.5em) rotate(-225deg);
            transform: rotate(225deg) translate(12.5em) rotate(-225deg);
        }

        &:nth-of-type(7) {
            -moz-transform: rotate(270deg) translate(12.5em) rotate(-270deg);
            -ms-transform: rotate(270deg) translate(12.5em) rotate(-270deg);
            -webkit-transform: rotate(270deg) translate(12.5em) rotate(-270deg);
            transform: rotate(270deg) translate(12.5em) rotate(-270deg);
        }

        &:nth-of-type(8) {
            -moz-transform: rotate(315deg) translate(12.5em) rotate(-315deg);
            -ms-transform: rotate(315deg) translate(12.5em) rotate(-315deg);
            -webkit-transform: rotate(315deg) translate(12.5em) rotate(-315deg);
            transform: rotate(315deg) translate(12.5em) rotate(-315deg);
        }
    }

    .ac {
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #70D6FE;
        background: #FFF;
        height: 90px;
        width: 90px;
        font-size: 250%;
    }

    i {
        display: block;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
    }

    .image-show {
        position: absolute;
        z-index: 100;
        //top: 50%;
        left: -28%;
        top: 40%;
        text-align: center;
        font-size: 27px;
        line-height: 1;
        display: block;
        margin-top: -10px;
        font-family: "roboto", sans-serif;
        color: #FFF;
        font-weight: 300;
    }
}

.services-container li {
    display: none;

    &.active {
        display: block;
    }
}

.service-item {
    background: rgb(255, 255, 255);
    padding: 0;
    margin-top: 15%;
    width: 100%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    line-break: auto;

    .header {
        text-align: initial;
        background: #009FE3;
        padding: 10px 20px;
        border-radius: 4px 4px 0 0;
    }

    .text-body {
        text-align: initial;
        padding: 20px 20px;
        font-weight: 400;
        font-family: "Open Sans";
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
    }

    .header {
        .icon {
            float: left;
            display: table;

            i {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 100%;
                position: relative;
                top: -7px;
                left: -10px;
                display: table-cell;
                color: #fff;
                font-size: 200%;
                vertical-align: bottom;
                text-align: center;
            }
        }

        h4 {
            margin: 0px;
            color: #FFF;
        }
    }
}

@media screen and (max-width: 480px) {
    .circle-container {
        transform: scale(0.5) translate(-50%, -30%);
        margin-left: 10vw;
    }

    .textBox {
        display: none;
    }

    .circle {
        width: 90%;
        margin: auto;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 480px) and (max-width: 575.98px) {
    .circle-container {
        transform: scale(0.7);
        margin-left: -20vw;
    }

    .textBox {
        display: none;
    }

    .circle {
        width: 90%;
        margin: auto;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .textBox {
        display: none;
    }

    .circle {
        width: 90%;
        margin: auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .textBox {
        display: none;
    }

    .circle {
        width: 90%;
        margin: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .textBox {
        padding-left: 140px;
        margin-top: 5%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.ac:hover {
    background-color: turquoise !important;

    img {
        opacity: 0.6;
    }
}