<section id="technologies" class="bg-dark text-white" style="padding-top: 100px;">
  <div class="container text-center">
    <br>
    <h2 class="mb-4">We only use disruptive tecnhologies</h2>
    <hr class="my-4" style="box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.37);">
    <div class="row" style="margin-top:100px">
      <div class="col-lg-4 col-sm-12 circle">
        <div class="g-content">
          <ul class='circle-container' (click)="showTech($event)">
            <div class="image-show">
                <img src="{{img_src}}" style="padding:0;" class="img-tech"
                title="{{img_title}}" alt="{{img_alt}}" />
            </div>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/nodejs1.png" style="padding-top:25px;padding-right: 15px;"
                  class="img-tech" title="Node.js" alt="CloserDev uses NodeJS" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/loopback.png" style="padding:0; width:90px" class="img-tech"
                  title="Loopback" alt="CloserDev uses Loopback" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/mongoDB1.png"
                  style="padding:0; padding-top:18px; padding-right: 8px" class="img-tech" title="MongoDB"
                  alt="CloserDev uses mongodb" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/java1.png" style="padding-right: 20px" class="img-tech" title="Java"
                  alt="CloserDev uses Java" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/angular.png" style="padding:4px;padding-right: 14px"
                  class="img-tech" title="Angular" alt="CloserDev can provide you Angular development" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/react.png" style="padding:0; padding-top:10px; padding-right: 5px"
                  class="img-tech" title="React.js" alt="CloserDev can provide you ReactJS development">
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/ionic.png" style="padding-right:18px;" class="img-tech"
                  title="Ionic" alt="CloserDev can provide you Ionic development" />
              </div>
            </li>
            <li>
              <div class="ac">
                <img src="../../../assets/imgs/techs/docker.png" style="padding:0;padding-top: 13px;" class="img-tech" title="Docker"
                  alt="CloserDev can provide you docker integration" />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 textBox">
        <div class="g-content">
          <ul class="services-container">
            <li class="active">
              <div class="service-item">
                <div class="header">
                  <h4>{{img_title}}</h4>
                </div>
                <div class="text-body">
                  <p class="text-justify">{{text}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>